/*@font-face {
    font-family: 'Capture-smallz';
    src: local('Capsmall_clean.ttf') format('truetype');
}
* {
 outline: 1px solid red;
}

*/
p {
    /*font-family: Capture-smallz, Helvetica, sans-serif;
    */
}
#wrapper {  
    max-width: 1200px;
    margin: auto;
}
#bg-container{
    position: relative;
}

#bg-container img{
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
}

header,
div {
    min-width: 20px;
    text-align: center;
}
header {
    padding-top: 50px;
    z-index: 1;
    height: 160px;
    position: relative;
    opacity: 0.6;
    background-color: white;
}
header h1 {
    font-family: sans-serif;
    font-size: 3em;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 40%;
}
header h2 {
    font-family: sans-serif;
    background-color: white;
    font-size: 2em;
    position: absolute;
    top: 158px;
    left: 121px;
}
#main {
    position: relative;
    padding-top: 100px;
}
fieldset {
    background-color: transparent;
    z-index: 3;
    position: absolute;
    top: 88px;
    left: 10%;
    }
fieldset input {
    width: 500px;
    border-radius: 5px;
    font-size: 2em;
    direction: rtl;
}
#task-box {
    width: 40%;
    margin: 150px auto;
    z-index: 2;
    position: relative;
    background-color: transparent;

}
.task{
    width: 90%;
    margin: 10px auto 0 auto;
   background-color: white;
   overflow: hidden;
   line-height: 30px;
   font-size: 25px;
   display: flex;
   align-items: center;
   /*
   background-image: url('green-check-mark.png');
   */
}
.task button {
    position: relative;
    float: left;
    background-color: transparent;
        -webkit-box-shadow: none;
            -moz-box-shadow: none;
                box-shadow: none;
    box-shadow: none;
}
.todo button {
    background-size: 100%;
    /*background-image: url('green-check-mark.png');
    */
}

.done {
    text-decoration: line-through; 
    text-color: gray;
}

.deleted {
    display: hidden;
    text-decoration: line-through; 
    text-color: gray;
}
button img {
    height: 40px;
    width: auto;
}
